<div class="py-5 border-top">
  <div class="container">

    <p class="h5 mb-3">{{ site.title | escape }}</p>

    <div class="row">

      <div class="col-sm">
        <ul class="list-unstyled">
          <li>
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
            <li>
              <a href="mailto:{{ site.email }}">
                {{ site.email }}
              </a>
            </li>
          {%- endif -%}
        </ul>
      </div>

      <div class="col-sm text-right">
        <p>{{- site.description | escape -}}</p>
        
        <!-- Embedded GitHub Profile Badge -->
        <p>
          <a href="https://www.instagram.com/gr3.___/">
            <img src="https://img.shields.io/badge/Instagram-%23E4405F.svg?logo=Instagram&logoColor=white)](#)"/>
          </a>
          <a href="https://github.com/Sin0fGREED"></a>
            <img src="https://img.shields.io/github/followers/Sin0fGREED?style=social" alt="GitHub Profile">
          </a>
        </p>
      </div>

    </div>

  </div>
</div>
